services:
  frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_BACKEND_URL=http://backend:8080
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - samgtu_es

  backend:
    build:
      context: ./backend
    environment:
      FRONTEND_URLS: "http://localhost"
      SPREADSHEET_ID: ${SPREADSHEET_ID}
      ACCOUNT_KEY_FILE: ${ACCOUNT_KEY_FILE}
      ACCOUNT_KEY_PATH: ${ACCOUNT_KEY_PATH}
    volumes:
      - ./${ACCOUNT_KEY_PATH}/${ACCOUNT_KEY_FILE}:/app/${ACCOUNT_KEY_PATH}/${ACCOUNT_KEY_FILE}
    networks:
      - samgtu_es

  nginx:
    image: nginx:1.26.3
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - samgtu_es

networks:
  samgtu_es:
